
.menuContent
    width: calc(100% - 300px)
    display: flex
    justify-content: center
    align-items: center
    height: auto
    margin: 0 auto
    

    ul 
        display: flex
        list-style: none
        padding: 0
        margin: 0
        

    li 
        margin: 0 10px
