.contentLogo
	width: 150px
	height: auto

	img
		width: 100px
		height: auto
		margin: 15px 0 0 30px
		padding: 5px

.logo
	width: 25%
	height: 150px
	margin: 0
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column

	h3
		margin:0

	img
		width: 80px
		margin-left: 0 auto
		display: block
		cursor: pointer
	